ul { list-style: none; min-height: 201px; }

ul li { display: block; padding-bottom: 3px; font-size: 18px; font-family: 'garde-gothic-regular'; letter-spacing: 0.75; color: #fff; text-decoration: none; text-transform: capitalize; float: "right"; }

ul li:before { margin-right: 5px; content: ''; width: 30px; height: 20.1px; background-image: url("../images/sprite_flags.png"); background-size: 300px 20.1px; display: block; margin-top: 4px; }

ul li:hover { text-decoration: underline; }

ul li.active { text-decoration: underline; }

ul li:nth-child(2):before { background-position: -30px; }

ul li:nth-child(3):before { background-position: -60px; }

ul li:nth-child(4):before { background-position: -90px; }

ul li:nth-child(5):before { background-position: -120px; }

ul li:nth-child(6):before { background-position: -150px; }

ul li:nth-child(7):before { background-position: -180px; }

ul li:nth-child(8):before { background-position: -210px; }

ul li:nth-child(9):before { background-position: -240px; }

ul li:nth-child(10):before { background-position: -270px; }
