@mixin dynamic-sprite($width, $items, $item_height, $sprite, $float){
	padding: 0px;
	list-style: none;
	height: auto;
	overflow: hidden;
	li{
		$height:($width * $item_height)/100;
		display: block;
		padding-bottom: 3px;
		color:#fff;
		text-decoration: none;
		text-transform: capitalize;
		float: #{$float};
		&:before{
			margin-right: 5px;
			content: '';	
			width: $width;
			height: $height;
			background-image: url('#{$sprite}');
			background-size: ($width * 10 ) $height;
			display: block;
			margin-top: 4px;
		}
		&:hover{
			text-decoration: underline;
		}
		&.active{
			text-decoration: underline;
		}
		@for $i from 2 through $items {
			&:nth-child(#{$i}){
				&:before{
					background-position: -($width * ($i - 1));
				}
			}
		}
	}
}